.red {
	color: red;
}

.right {
	text-align: right;
}

.center {
	text-align: center;	
}

.custom-form-inline div {
    padding-left: 3px;
    padding-right: 3px;
}

.custom-form-inline label{
	padding-top: 7px;
}

.metro input[type="submit"] .btn.btn-default {
	background-color: #E5E5E5;
}

a.btn-primary {
	color: #FFF;
}

.pagination {
	margin-top: 0;
}

.table {
	margin-bottom: 8px;
}

.merged .input-group-addon {
    background-color: #FFFFFF;
}
.merged input {
    background-color: #FFFFFF;
}
.focusedInput {
    border-color: rgba(82,168,236,.8) ;
    outline: 0;
    outline: thin dotted \9;
}

.radio.merged {
	display: inline-block;
    line-height: 24px;
    margin-right: 20px;
}

.input-group-addon {
	cursor: pointer;
}

.icon-button {
	float: left;
    line-height: 30px;
    cursor: pointer;
}

#destinations .destination_remove {
	float: left;
    line-height: 30px;
    cursor: pointer;
}

.no-padding {
	padding: 0;
}

#multiple_trip {
	margin-bottom: 17px;
}

.strong {
	font-weight: bold;
}

#image-loading {
    line-height: 1000px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0.4;
    background: none repeat scroll 0 0 #808080;
}

#image-loading > helper {
	border: 2px solid red;
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#image-loading > img {
	vertical-align: middle;
	position: fixed;
}

table.dataTable tr.highlighted, table.dataTable tr.highlighted > td.sorting_1 {
	background-color: yellow;
	cursor: pointer;
}

table.dataTable tr.selected, table.dataTable tr.selected > td.sorting_1 {
	background-color: red;	
}

.btn-default {
	background: #CCCCCC;
}

#flight_search_result_container table.dataTable thead th {
	padding: 8px;
}

.table thead > tr > th, .table tbody > tr > td  {
	white-space: nowrap;
}
	
.table thead > tr > th {
	vertical-align: middle;
}

.rounded {
	border: 5px solid #DDF5F7; 
	border-radius:10px;
	padding: 20px;
	height: 150px;
}

.rounded.flexi {
	height: auto;
}

.roundedbox {
	border: 2px solid #FFC000; 
	border-radius:10px;
	padding: 5px;	
	height: auto;
}

.roundedbox.flexi {
	height: auto;
}

.widget-title {
  	background: url("../images/dots.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
    margin: 5px 0 16px;
    padding-bottom: 16px;
    width: 100%;
}
/* ================================= */

.login-box {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    height: 35px;
    margin-right: 10px;
    padding: 9px 12px 0;
}

.tt-dropdown-menu,.gist {
  text-align: left;
}

.typeahead, .tt-query, .tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 250px;
  margin-top: 4px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 10px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}

/************************/
.listing {
    margin-top: -15px;
    min-height: 100px;
    padding-bottom: 10px;
}

.listingbox {
    border-bottom: 1px dotted #BBBBBB;
    float: left;
    padding: 5px 2px;
    position: relative;
    width: 930px;
}


.item-time {
    margin: 20px 8px 0 15px;
    width: 65px;
}
.kir {
    float: left;
}
.ico.tgl {
    margin-bottom: 5px;
    margin-left: -14px;
}
.ico.tgl, .ico.cond, .ico.loc, .ico.tkbgs {
    background-position: -150px 0;
    height: 15px;
    margin: 0 1px 0 0;
    width: 15px;
}
.ico {
    background: url("http://as.tokobagus.biz/v6/skins/default/images/sprite-inner.1.0.14.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.foto-wrapper {
    float: left;
    height: 95px;
    margin: 0 10px 0 0;
    width: 95px;
}
.fotobox.moreimg {
    background-position: -145px -507px;
}
.fotobox {
    display: table-cell;
    height: 95px;
    text-align: center;
    vertical-align: middle;
    width: 95px;
}

.ikl-box {
    float: left;
    padding: 0 5px;
    width: 552px;
}

.ikl-title {
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 20px;
    margin-top: 8px;
    overflow: hidden;
}
.ikl-box ul.listtag {
    margin: -10px 0 40px;
}
.ikl-box ul {
    margin: 2px 0;
    padding-top: 2px;
}
ol, ul {
    list-style: none outside none;
}

.ikl-box ul li {
    color: #888888;
    float: left;
    font-size: 11px;
    height: 14px;
    overflow: hidden;
    padding: 3px 10px 0 0;
}

.price {
    color: #333333;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    text-align: right;
    width: 137px;
}